include LICENSE
include README.md
include CHANGELOG.md
include CONTRIBUTING.md
recursive-include access_lib *.py
recursive-include data/sample *.gpkg
recursive-include docs *.md *.png
recursive-include examples *.ipynb
recursive-include tests *.py
